@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$dark: #282828;
$green: #03e003;

* {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}

body {
    background: #aa9f95;
    color: $green;
    padding: 1em;
}

h3 {
    @apply text-3xl mb-4;

    &.section-header {
        // @apply p-1;
        @apply mb-10 clear-both;
        border-bottom: 2px dotted $green;

		&:nth-child(n+1) {
			@apply mt-10;
		}
    }
}
h4 {
    @apply text-2xl;
}

p {
    @apply py-4;
}

blockquote {
	position: relative;
	@apply my-6 p-4 text-xl;
	border: 2px dotted $green;
}

.justify-self-right { justify-self: right; }

a {
    border-bottom: 1px dotted $green;
    // padding: 0.5em;

    &.selected, &:hover, &:not(.menu-item):focus {
        outline: none;
        background-color: #03e003;
        color: $dark;
    }
    &:focus { outline: none; }
}

#app {
    height: calc(100vh - 2em);
    border-radius: 2.5rem;
}

header, .content {
    background: rgba($dark, 1.0);
    border-color: #03e003;
}

header {
    border-radius: 2.5rem 2.5rem 0 0;

    h1 {
        position: relative;
        left: -5px;
        @apply text-6xl;
        // font-size: 4em;
        line-height: 4rem;

        span {
            /* padding: 5px;
            color: $dark;
            background: #03e003; */
        }
    }

	@screen lg {
		display: grid;
		grid-template-columns: 5fr 1fr;
		grid-column-gap: 2em;

		h1, h3, p {
			grid-column: 1 / 2;
		}
		#nav {
			grid-column: 2 / 3;
			grid-row: 1 / 2;

			li {
				@apply my-4 text-center;
				display: block !important;
			}
		}
	}
}

ul#nav {
	font-size: 1.5em;
    list-style-type: none;

	li {
		@apply mr-6 px-4;
		display: inline-block;
		border: 2px dotted $green;
		cursor: pointer;

        &:focus {
            outline: none;
        }
		&.router-link-exact-active.router-link-active {
			background: $green;
			color: $dark;
			border: none;
		}
    }

	a {
		padding: 0.5em;
		border: none;
	}
	&:focus {
		outline: none;
	}
}

h2 {
    // font-size: 2em;
    @apply text-4xl;
}

ol {
	@apply my-4 mx-8;
	list-style: decimal;
}

.content {
    position: relative;
    // opacity: 0.5;
    // height: 100%;
    border-radius: 0 0 2.5rem 2.5rem;

    &:after {
        background: center center url('./assets/img/space-1920.jpg');
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

section {
	@apply mt-10;

	@screen lg {
		@apply w-4/6 mx-auto;
	}
}
.about {
    .section-2 {
        display: grid;
    }
    article {
        @apply mb-8;
    }
	.skill {
		@apply mb-4;
		position: relative;
		overflow: hidden;
		min-height: 2em;

		.description, .bar {
			@apply py-1 px-2;
			min-height: 2em;
			color: $green;
		}
		.description {
			z-index: 20;
			position: relative;
		}
		.bar {
			position: absolute;
			top: 0;
			z-index: 10;
            border: 1px solid $green;
			background: none;
			// width: 100%;
			height: 1em;
			text-align: right;
		}
	}
}

.work-list {
	@apply mx-6;
	font-size: 1.3em;
	list-style: circle;

	li {
		@apply my-4;
	}
}

article {
	@apply mb-10 clear-both;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
	h4 {
		@apply p-1 mb-6;
		color: $green;
		border-bottom: 1px solid $green;

		@screen sm {
			@apply inline-block clear-both;
		}
	}
	&.work-article {
		img {
			@screen md {
				@apply float-left mr-6;
			}

			@screen lg {
				@apply -ml-16;
			}
		}
	}
	&.work-article:nth-child(odd) img {
		@screen md {
			@apply float-right ml-6;
		}

		@screen lg {
			@apply -mr-16;
		}
	}
	img {
		@apply max-w-full mb-4;

		@screen md {
			@apply max-w-sm;
		}
		&.left {
			@screen md {
				@apply float-left mr-6;
			}
		}
		&.right {
			@screen md {
				@apply float-right ml-6;
			}
		}
	}
}

.dashboard {

}
.article {
    label {
        @apply mb-4;
        display: inline-block;
        input, textarea {
            @apply p-4;
        }
    }
    label:not(.checkbox) {
        @apply grid;
        grid-template-columns: 1fr 3fr;
    }
    
    h2 {
        grid-column: span 2;
    }
    button {
        display: block;
    }
}
// Transitions
.grow-bar-enter-active, .grow-bar-leave-active {
    transition: width 5s;
}
.grow-bar-enter, .grow-bar-leave-to /* .fade-leave-active below version 2.1.8 */ {
    width: 0;
}
